#header {
  display: flex;
  align-content: center;
  align-items: center;
}

.lang-btn {
  padding: 10px 8px;
  gap: 6px;
  background-color: var(--color-gray); // ovo moze bolje, samo sam umoran pa necu menjati za sada

  img {
    border-radius: 3px;
    transition: 400ms;
  }

  &:hover img {
    filter: brightness(0.8);
  }
}
